[Desktop Entry]
Version=1.0
Type=Application
Name=HashPass
GenericName=Password Hasher
Comment=A simple Password Hasher built with Qt
TryExec=hashpass
Exec=hashpass %u
Icon=lock
Categories=Development;Internet;
Terminal=false
